<mat-toolbar *ngIf="!currentUser else loggedIn">
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <span>{{title}}</span>
        <div>
            <button mat-button routerLink="/signup">Sign up</button>
            <button mat-button routerLink="/login">Login</button>
        </div>
    </div>
</mat-toolbar>

<ng-template #loggedIn>
    <mat-toolbar>
        <div style="display: flex; justify-content: space-between; width: 100%;">
            <span>{{title}}</span>
            <div>
                <button mat-button routerLink="/login">Logout</button>
            </div>
        </div>
    </mat-toolbar>
</ng-template>


<router-outlet></router-outlet>